<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="TweetsMadeEasy User Homepage">
  <meta name="author" content="Priyam Shah">

  <title>TweetsMadeEasy | Home</title>
  <link href="/assets/home.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css" rel="stylesheet">

</head>
<body >
<p style="text-align:center; color:white; margin-top:2rem;"><%= message %></p>
<div class="container">
	<div class="row no-gutters">
	  <div class="col-md-4 border-right">
		<div class="settings-tray">
          <img class="profile-image" src="<%= photo %>" alt="Img">&nbsp;<%= user %>
		  <span class="settings-tray--right">
            <a href="/logout"><i class="material-icons">power_settings_new</i>&nbsp;</a>
		  </span>
		</div>
		<!-- <div class="search-box">
		  <div class="input-wrapper">
			<i class="material-icons">search</i>
			<input placeholder="Search here" type="text">
		  </div>
		</div> -->
		<% for(var key in tweets ){ %>
			<div class="friend-drawer friend-drawer--onhover" id="<%= key %>">
				<img class="profile-image" src="<%= tweets[key].profile %>" alt="Profile Pic">
				<div class="text">
					<h6><%= key %></h6>
				</div>
			</div>
			<hr width="auto;">
		<% } %> 
	  </div>
	  <div class="col-md-8">
		<div class="settings-tray">
			<div class="friend-drawer no-gutters friend-drawer--grey">
			<img class="profile-image" src="" alt="" id="userimg">
			<div class="text">
			  <h6 id="username"></h6>
			</div>
		  </div>
		</div>
		<div class="chat-panel" id="chatpanel">
		</div>
	  </div>
	</div>
  </div>
</body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>


    $( '.friend-drawer--onhover' ).on( 'click',  function() {
		var data = this.id;
		console.log(data, " from id");
		$('#chatpanel').empty();
		<% for(var key in tweets ){ %>
			if(data == `<%= key %>`  ){
				console.log("found", data);
				document.getElementById('userimg').src=`<%= tweets[key].profile %>`;
				document.getElementById('username').innerHTML=`<%= key %>`;
				var texts = `<%= tweets[key].text %> `;
				texts = texts.split(',');
				var ids = `<%= tweets[key].id %> `;
				ids = ids.split(',');
				for(var i=0; i < texts.length; i++){
					console.log(texts[i],ids[i]);
					$('#chatpanel').append('<div class="row no-gutters"><div class="col-12"><div class="chat-bubble chat-bubble--left" >"'+ texts[i] +'"<div class="chat-box-tray col-12"><form action="home/'+ids[i]+'" method="POST" class="form-inline col-12"><input type="text" placeholder="Reply Tweet here..." name=inp' +ids[i]+ '>&nbsp;<button type="submit">Reply</button></form></a></div></div></div></div>');
				}
			}
		<% } %> 

		
      });
  </script>

</html>
